<div class="ui blue inverted segment">
  <div class="ui container">
    <nav class="ui blue inverted secondary menu">
      <a
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="item"
        *ngFor="let item of items"
      >
        {{ item.text }}
      </a>
    </nav>
  </div>
</div>
