header.ui.inverted.segment {
  padding: 20px 0;
  border-radius: 0;
  border-bottom: 2px solid #fff;
  .ui.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ui.inverted.header,
    h1 {
      margin: 0;
    }
  }
}
@media (max-width: 500px) {
  .wrap-user {
    display: none;
  }
}
