<header class="ui inverted segment">
  <div class="ui container">
    <div class="ui blue inverted header">
      <i class="newspaper icon"></i>
      <div class="content">
        <h1>Nuevo Periódico</h1>
        <div class="sub header">Módulo de gestión de noticias</div>
      </div>
    </div>
    <div class="ui inverted tiny header wrap-user">
      <i class="user icon"></i>
      <div class="content">
        Admin
        <div class="sub header">Editar perfil</div>
      </div>
    </div>
  </div>
</header>
