<div class="ui very relaxed segment center aligned mt20 mb20">
  <h2>Crear noticia</h2>
</div>
<div class="wrap-create">
  <app-form-article #formArticle textButton="Crear" [loading]="loading" (finish)="openPopup($event)"></app-form-article>
</div>
<app-popup [popupInfo]="popupInfo" (confirm)="confirmCreate()"></app-popup>
