<div class="ui very relaxed segment center aligned mt20 mb20">
  <h2>Editar noticia</h2>
</div>
<div class="wrap-update">
  <app-form-article
    #formArticle
    textButton="Actualizar"
    [loading]="loading"
    (finish)="openPopup($event)"
  ></app-form-article>
</div>
<app-popup [popupInfo]="popupInfo" (confirm)="confirmUpdate()"></app-popup>
