<div [ngClass]="['ui raised link card', backgroundColor]">
  <div class="image">
    <label [ngClass]="['ui ribbon label', backgroundColor]">{{ categoryLabel }}</label>
    <div class="wrap-image">
      <img [src]="item.image ? item.image : defaultImage" />
    </div>
  </div>
  <div class="content">
    <p class="ui header title">{{ item.title }}</p>
  </div>
  <div class="extra content">
    <div class="mb20">
      <i class="calendar plus icon"></i>
      {{ moment(item.creationDate) }}
      <span class="right floated">
        <i [class]="item.active ? 'check circle icon' : 'exclamation triangle icon'"></i>
        {{ item.active ? 'Activa' : 'Inactiva' }}
      </span>
    </div>
    <div class="ui two buttons">
      <div (click)="deleteArticle()" class="ui basic red button">Eliminar</div>
      <a [routerLink]="['/editar', item.id]" class="ui basic green button">Editar</a>
    </div>
  </div>
</div>
