.ui.card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .image {
    .wrap-image {
      display: flex;
      overflow: hidden;
      img {
        width: 100%;
        height: 200px;
        transition: 0.6s;
      }
    }
  }
  .ribbon.label {
    border: 1px solid #aaa;
    z-index: 1;
  }
  &:hover {
    .image img {
      transform: scale(1.1);
      transform-origin: center;
    }
  }
  &.grey {
    background-color: #f8f8f8;
  }
  &.green {
    background-color: #f3fcf5;
  }
  &.red {
    background-color: #fff5f6;
  }
  &.yellow {
    background-color: #fffef3;
  }
  &.blue {
    background-color: #eff5ff;
  }
}
