<div class="ui mini modal" id="delete-popup">
  <i class="close icon"></i>
  <div class="header">
    {{ popupInfo.title ? popupInfo.title : '' }}
  </div>
  <div class="content">
    <p>{{ popupInfo.subtitle ? popupInfo.subtitle : '' }}</p>
    <p><i class="caret right icon"></i>{{ popupInfo.titleArticle ? popupInfo.titleArticle : '' }}</p>
  </div>
  <div class="actions">
    <div class="ui black deny button" (click)="resetInfo()">Cancelar</div>
    <div class="ui positive right labeled icon button" (click)="actionConfirm()">
      Aceptar
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
