.wrap-articles {
  display: grid;
  grid-template: auto / minmax(300px, 400px) minmax(300px, 400px) minmax(300px, 400px);
  row-gap: 30px;
  column-gap: 50px;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0 40px 0;
  padding: 20px 0;
  .item {
    height: 100%;
  }
}
@media (max-width: 992px) {
  .wrap-articles {
    grid-template: auto / minmax(250px, 300px) minmax(250px, 300px);
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .wrap-articles {
    grid-template: auto / minmax(300px, 400px);
  }
}
