<div class="ui very relaxed segment center aligned mt20 mb20">
  <h2>Listado de noticias</h2>
</div>
<div class="wrap-articles">
  <app-list-card
    class="item vivify fadeIn"
    *ngFor="let item of articles | async"
    [item]="item"
    (deleting)="openPopup($event)"
  ></app-list-card>
</div>
<app-popup [popupInfo]="popupInfo" (confirm)="confirmDelete()"></app-popup>
