<div class="ui main text container">
  <div class="ui very relaxed segment center aligned mt20">
    <p>Administrador · Opciones disponibles</p>
  </div>
  <div class="ui placeholder segment mt20">
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        <a routerLink="/listado" routerLinkActive="active" class="ui massive blue button">
          Listado de noticias
        </a>
      </div>
      <div class="middle aligned column">
        <a routerLink="/crear" routerLinkActive="active" class="ui massive blue button">
          Crear noticia
        </a>
      </div>
    </div>
    <div class="ui vertical divider">
      Or
    </div>
  </div>
</div>
