<div class="ui main text container">
  <form [formGroup]="articleForm" (submit)="saveArticle()" class="ui form vivify fadeIn">
    <div class="inline field">
      <div class="ui slider checkbox">
        <input formControlName="active" type="checkbox" id="active" class="hidden" />
        <label for="active">Activo</label>
      </div>
      <label></label>
    </div>
    <div class="field required">
      <label for="category">Categoría</label>
      <select formControlName="category" id="category" class="ui dropdown">
        <option disabled selected value="">Seleccione categoría</option>
        <option *ngFor="let item of categories" [value]="item.id">{{ item.text }}</option>
      </select>
    </div>
    <div class="field required">
      <label for="title">Título</label>
      <input
        formControlName="title"
        type="text"
        id="title"
        placeholder="Título de la noticia"
        (keyup)="updateTitleRule()"
      />
    </div>
    <div class="field required">
      <label for="subtitle">Subtítulo</label>
      <input
        formControlName="subtitle"
        type="text"
        id="subtitle"
        placeholder="Subtítulo de la noticia"
        (keyup)="updateSubtitleRule()"
      />
    </div>
    <div class="field">
      <label for="content">Noticia</label>
      <textarea formControlName="content" rows="3" id="content" placeholder="Ingrese el contenido"></textarea>
    </div>
    <div class="field">
      <label for="image">Imagen</label>
      <input formControlName="image" type="file" id="image" />
    </div>
    <div class="ui center aligned container mt20">
      <button type="submit" [ngClass]="['ui blue button right labeled icon', loading ? 'loading' : '']">
        <i class="check circle icon"></i>
        {{ textButton }}
      </button>
    </div>
  </form>
</div>
